body {
  background-image: url(123.jpg);
  background-position: center;
  background-repeat: no-repeat; /* used if image is too small*/
  background-size: cover; /* covers entire window*/
  background-attachment: fixed; /* Background image will be in place in a scroll bar*/
  margin: 0;
}

#clock-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

#clock {
  font-family: monospace;
  font-size: 6.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
  backdrop-filter: blur(5px);
  width: 100%;
  background-color: hsla(0, 0%, 100%, 0.1);
}
